.mobileContainer {
  position: relative;
  width: calc(1px * var(--baseAppWidth));
  height: calc(1px * var(--baseAppHeight));
  overflow: hidden;
}

.isBrowser .mobileContainer {
  outline: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.isMobile .mobileContainer {
  width: 100dvw;
  height: 100dvh;
}

.mobileContainer_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background-color: #000;
}

.mobileContainer_contentWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(1px * var(--baseAppWidth));
  height: calc(1px * var(--baseAppHeight));
  box-sizing: border-box;

  transition: height 0.3s ease-out;
}

.isBrowser .mobileContainer_contentWrapper {
  padding-top: calc(1px * var(--statusBarHeight));
}

.mobileContainer_keyboard {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(1px * var(--baseAppWidth));
  z-index: 1;

  transform: translateY(100%);

  transition: transform 0.3s ease-out;
}

.mobileContainer_keyboard > img {
  width: 100%;
  height: 100%;
}

.mobileContainer_statusBar {
  width: calc(1px * var(--baseAppWidth));
}

.isMobile .mobileContainer_statusBar {
  display: none;
}

.mobileContainer_statusBar > img {
  width: 100%;
  height: 100%;
}
